<%- include('../includes/head.ejs', { title: 'My Cart' }) %>
<%- include('../includes/navigation.ejs') %>
    <section class="bg-white page-title-container container-xxl box-shadow box-radius-bottom">
        <div class="py-5">
            <h1 class="text-center">500 Error</h1>
        </div>
    </section>
    <section class="page-main-container cart-page container-xxl mt-5">
        <div class="bg-white p-5 box-radius box-shadow">
            <h2 class="text-center">Additional message</h2>
            <p><%= error %></p>
            <div class="text-center mt-4">
                <a href="/" class="btn btn-pink btn-pink-hover">Home</a>
            </div>
        </div>
    </section>
<%- include('../includes/footer.ejs') %>