<div class="single-product">
    <div class="single-product-image">
        <img src="/example.png" class="card-img-top" alt="...">
    </div>
    <div class="single-product-body">
        <h5><%= product.name %></h5>
        <div class="rating">
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <i class="fa-regular fa-star"></i>
        </div>
        <div class="price-tag">
            <span class="price"><%= product.price %></span>
        </div>
        <div class="summary">
            <p><%= product.summary %></p>
        </div>
        <button class="btn btn-sm btn-dark btn-purchase">Add to cart</button>
    </div>
</div>