<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center position-relative" id="navbarNav">
            <div class="site-logo">
                <img src="/logo.png" alt="logo" />
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-account/profile">My Account</a>
                </li>
            </ul>
            <div class="auth-actions">
                <a href="/cart">
                    <div class="my-cart-notification">
                        <% if(cart.length){ %>
                            <span class="cart-count"><%= cart.length %></span>
                        <% } %>
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </div>
                </a>
                <% if (!isAuth) { %>
                    <div class="btn-wrapper">
                        <a href="/login" class="btn btn-sm btn-auth btn-white me-2">Login</a>
                        <a href="/signup" class="btn btn-sm btn-auth btn-pink">Signup</a>
                    </div>
                <% } else { %>
                    <div class="btn-wrapper">
                        <form action="/logout" method="POST">
                            <button type="submit" class="btn btn-sm btn-auth btn-pink">Logout</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</nav>