<%- include('includes/head.ejs', { title: 'All products' }) %>
<%- include('includes/navigation.ejs') %> 
    <section class="landing-intro">
        <div class="intro-text">
            <h1>Explore MyCart store</h1>
            <p>Store which is created from our users and used by our users!</p>
            <a href="/products" class="btn btn-lg btn-pink btn-pink-hover">Purchase goods</a>
        </div>
        <div class="intro-image">
            <img src="/landing-image.png" alt="MyCart landing image" />
        </div>
    </section>
<%- include('includes/footer.ejs') %>