<div class="products-categories-list d-flex justify-content-center">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/my-account/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/my-account/shipping-address">Shipping address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/my-account/orders">Orders</a>
        </li>
    </ul>
</div>