<%- include('../includes/head.ejs', { title: 'All products' }) %>
<%- include('../includes/navigation.ejs') %>
    <section class="bg-white page-title-container container-xxl box-shadow box-radius-bottom">
        <div class="py-5">
            <h1 class="text-center">Wallet</h1>
        </div>
        <div class="products-categories-list d-flex justify-content-center">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/my-account/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-account/wallet">Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/my-account/shipping-address">Shipping address</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="bg-white page-main-container container-xxl mt-5 box-shadow box-radius">
        
    </section>
<%- include('../includes/footer.ejs') %>