.navbar .navbar-nav .nav-item {
    margin: 0 0.2rem;
}

.navbar .navbar-nav .nav-item a {
    color: #FFF;
}

.navbar .navbar-nav .nav-item a:hover, .navbar .navbar-nav .nav-item a:focus {
    color: var(--color-pink);
}

.navbar .btn-auth {
    min-width: 6rem;
}

.navbar .auth-actions {
    position: absolute;
    right: 0px;
}
