<%- include('../includes/head.ejs', { title: 'Create product' }) %>
<%- include('../includes/navigation.ejs') %>
    <section class="bg-white page-title-container container-xxl">
        <div class="py-5">
            <h1 class="text-center">Add product</h1>
        </div>
    </section>
    <section class="bg-white page-main-container container-xxl mt-5">
        <form class="product-form">
            <div class="product-form-row">
                <div class="product-form-col">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="product-name">Name of product</label>
                                <input type="text" name="name" class="form-control" id="product-name">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="product-price">Price</label>
                                <input type="name" name="price" class="form-control" id="product-price" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="product-summary">Summary</label>
                                <textarea name="summary" class="form-control" id="product-summary"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="product-description">Description</label>
                                <textarea name="description" class="form-control" id="product-description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-form-col">
                    <div class="file-select-container">
                        <div class="form-group">
                            <label for="product-image">Product image</label>
                            <div class="file-select-placeholder">
                                <i class="fa-solid fa-cloud-arrow-up"></i>
                                <p>Select one or multiple images</p>
                            </div>
                            <input type="file" class="form-control-file file-select-input" multiple accept="image/png, image/jpeg" id="product-image">
                        </div>
                    </div>
                    <div class="selected-files-preview"></div>
                </div>
            </div>
            <div class="form-btn-container">
                <button class="btn btn-pink btn-pink-hover" type="submit">Create</button>
            </div>
        </form>
    </section>
<%- include('../includes/footer.ejs') %>