<%- include('../includes/head.ejs', { title: 'All products' }) %>
<%- include('../includes/navigation.ejs') %>
    <section class="bg-white page-title-container container-xxl box-shadow box-radius-bottom">
        <div class="py-5">
            <h1 class="text-center">Products</h1>
        </div>
        <div class="products-categories-list d-flex justify-content-center">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">T-Shirts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shoes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hoodies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shorts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hats</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="bg-white page-main-container container-xxl mt-5 box-shadow box-radius">
        <div class="products-row">
            <% for(const product of products) { %>
                <%- include('../includes/item-product.ejs', { product }) %>
            <% } %>
        </div>
    </section>
    <a href="/products/create" class="btn btn-pink btn-pink-hover page-action-fixed">
        <i class="fa-solid fa-shop"></i>
        <span>Add product</span>
    </a>
<%- include('../includes/footer.ejs') %>